bootstrap/compiled.php
vendor
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
_ide_helper.php
.idea/*
.idea/workspace.xml
app/storage/logs/laravel.log
app/storage/printSubmissions/*
CONTRIBUTING.md
IPRO_API.iml
nbproject/*
app/storage/views/*
